--  =======================================================================
--  CODIGO GENERADO AUTOMATICAMENTE POR ICDMS - NO EDITAR A MANO
--  Modulo ICD: {{ m.icd_name }} ({{ m.source_file }})
--  Paquete raiz del modulo.
--  =======================================================================

package {{ m.root_pkg }} is

   pragma Pure;

end {{ m.root_pkg }};
